<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/nav.css">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/<%-css%>.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <title>아빠 대리운전 test</title>
</head>
<body>
    <%-nav%>
    <%-header%>
    <%-content%>
    <%-footer%>
</body>
</html>